header {
    width: 100%;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 0 16px;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSpacer,
.rightContent {
    flex: 1;
}

.rightContent {
    display: flex;
    justify-content: flex-end;
}

.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.titleText {
    font-size: 1.5rem;
    font-weight: 700;
}

.titleRed {
    color: red;
}

.titleWhite {
    color: white;
}

.scoresContainer {
    display: flex;
    justify-content: center;
    font-weight: 600;
    letter-spacing: -1px;
    gap: 36px;
}
