@font-face {
    font-family: "PokemonGB";
    src: url("./assets/fonts/PokemonGb-RAeo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --menu-bg-color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./assets/images/pokemon-bg.png");
    background-size: contain;
    object-fit: fill;
    font-family: "PokemonGB", sans-serif;
    min-height: 100vh;
}
